---
system:
  certificateFilePath: "/tmp/certs/device.pem.crt"
  privateKeyPath: "/tmp/certs/private.pem.key"
  rootCaPath: "/tmp/certs/AmazonRootCA1.pem"
  rootpath: "/greengrass/v2"
  thingName: "${THING_NAME}"
services:
  aws.greengrass.Nucleus:
    componentType: "NUCLEUS"
    version: "2.10.3"
    configuration:
      awsRegion: "${AWS_REGION}"
      iotRoleAlias: "${IOT_ROLE_ALIAS}"
      iotDataEndpoint: "${DATA_ATS_ENDPOINT}"
      iotCredEndpoint: "${CREDENTIAL_PROVIDER_ENDPOINT}"
